version = 0.26.2
profile = conventional
break-cases = toplevel
break-infix = fit-or-vertical
exp-grouping = preserve
if-then-else = fit-or-vertical
margin = 100
type-decl = sparse
wrap-fun-args = false
